<div {{ attributes }}>
    {% if isSuccessful %}
        <turbo-stream action="replace" targets="#new-conference-form-frame">
            <template>
                <p>Conference created! You can see it <a target="_top" href="{{ path('app_conference_show', {'id': initialFormData.id}) }}">here</a>.</p>
            </template>
        </turbo-stream>
    {% else %}
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'save'
            }
        }) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description, {
                attr: stimulus_controller('input-counter')|stimulus_action('input-counter', 'check').toArray()
            }) }}
            {{ form_row(form.accessible) }}
            {{ form_row(form.prerequisites, {
                attr: stimulus_controller('input-counter')|stimulus_action('input-counter', 'check').toArray()
            }) }}
            {{ form_row(form.startAt) }}
            {{ form_row(form.endAt) }}
            {{ form_row(form.organizations) }}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">{{ button_label|default('Send') }}</button>
            </div>
        {{ form_end(form) }}
    {% endif %}
</div>
