<div {{ attributes }}>
    {{ form_start(form) }}

            {{ form_row(form.fromDate, {
                attr: {
                    'data-action': 'live#action',
                    'data-live-action-param': 'debounce(500)|filter'
                }
            }) }}

            {{ form_row(form.toDate, {
                attr: {
                    'data-action': 'live#action',
                    'data-live-action-param': 'debounce(500)|filter'
                }
            }) }}

    {{ form_end(form) }}
</div>
